@page
@model Company.Pages.OrgUnits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrgUnit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrgUnit.Parent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrgUnit.Parent.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrgUnit.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrgUnit.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrgUnit.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
